.frame {
  position: absolute;
  opacity: 1;
  top: 85px;
  left: 104px;
  width: 370px;
  height: 326px;
  gap: 0px;
  padding: 10px 0px 10px 0px;
  border: 1px solid #EEEEEE;
  border-radius: 6px;
  box-shadow: 0px 8px 15px 0px #1414141F;
}

.grid-container {
  display: grid;
  gap: 10px;
  padding: 10px;
  grid-auto-rows: 1fr;
  height: 100%;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.flex-container > div {
  text-align: center;
  line-height: 75px;
  font-size: 20px;
}
